@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    margin: 0;
}
.titulo {
    font-size: 50px;
    font-family: 'Pixelify Sans', cursive;
    margin: 0;
    text-decoration: underline orange;
}
.boxSection2 {
    padding: 10px;
    border-radius: 15px;
    border-right: 2px solid white;
}
.linhaSection2 {
    background-color: white;
    width: 60%;
    float: left;
}
.conteudoSection2 {
    background-color: black;
    width: 50%;
    padding: 40px;
}
.boxSection3 {
    padding: 10px;
    border-radius: 15px;
    border-left: 2px solid white;
}
.conteudoSection2 h1 {
    margin-bottom: 0;
    font-size: 40px;
    font-family: 'Pixelify Sans', cursive;
}
.conteudoSection2 p {
    text-align: left;
    text-indent: 20px;
    font-family: 'Gabarito', cursive;
    font-size: 22px;
}
.conteudoSection3 {
    margin-left: 50%;
    float: right;
    background-color: black;
    width: 50%;
    padding: 40px;
}
.conteudoSection3 h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Pixelify Sans', cursive;
}
.dvBtn {
    text-align: center;
}
.btn {
    border-radius: 15px;
    border: 2px solid white;
    padding: 10px;
    font-size: 22.5px;
    font-family: 'Gabarito', cursive;
}
::-webkit-scrollbar {
    background-color: black;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
}
.conteudoSection3 p {
    text-align: right;
    text-indent: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
.linhaSection3 {
    background-color: white;
    width: 60%;
}
.section1 {
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0 , 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/fundoSection1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.section1 ul {
    list-style: none;
    padding: 0;
}
.section1 ul li {
    text-align: center;
}
.section1 ul li h3 {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
}
.section2 {
    background: linear-gradient(rgba(0 , 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/pizzaSection2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.section3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pizzaSection3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.sectionTop {
    text-align: center;
    justify-content: center;
    background-color: black;
}
.menu {
    margin-top: 10px;
    list-style: none;
}
.menu li {
    display: inline-block;
    padding-right: 20px;
}
.menu li a {
    font-size: 30px;
    font-family: 'Croissant One', cursive;
}
.interface {
    height: 100vh;
    /* adicionar o comando a baixo para puxar a seção seguinte para o topo */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    color: #fff;
}